logfire
python-dotenv
langchain
nemoguardrails
qdrant_client
portkey_ai
langchain_openai
bs4
unstructured
pypdf
qdrant_client
langchain_google_genai
sentence_transformers
flashrank
fastapi
uvicorn
streamlit
ragas
docx
pptx